<?xml version="1.0"?>
<robot name="my_ar_tag">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="file:///home/catkin_ws/src/fetch-test/ar_tags/models/1234tag.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/catkin_ws/src/fetch-test/ar_tags/models/1234tag.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  
  <gazebo>
    <link name="base_link">
      <static>true</static>
    </link>
  </gazebo>
  
  <link name="world"/>

  <joint name="world_to_base_link" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </joint>
</robot>
